NODE_ENV=test

IS_CI=false

SERVICE_NAME=speonix
SERVICE_VERSION=1

TRACING_CONSOLE_ENABLED=false
TRACING_ENABLED=false

SATAN_DB_URI=postgresql://postgres:postgres@localhost:5434/smvd-next-satan?currentSchema=public&sslmode=disable

MIGRATIONS_CONTAINER_NAME=smartvend-satan-migrations-for-test
FIXTURES_CONTAINER_NAME=smartvend-satan-fixtures-for-test

RABBITMQ_DEFAULT_VHOST=smartvend
RABBITMQ_DEFAULT_USER=smartvend-user
RABBITMQ_DEFAULT_PASS=smartvend-password

RABBITMQ_CONTAINER_NAME=rabbitmq-for-test

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5673
RABBITMQ_USERNAME=smartvend-user
RABBITMQ_PASSWORD=smartvend-password
RABBITMQ_HEARTBEAT=10
RABBITMQ_VHOST=smartvend
RABBITMQ_PREFIX=test
RABBITMQ_POSTFIX=test

BELBLANKAVID_API_HOST=http://185.204.116.115:2253/apiv3
API_HOST=http://localhost:3000

INVOICE_S3_BUCKET_NAME=...
INVOICE_S3_ACCESS_KEY_ID=...
INVOICE_S3_ENDPOINT=...
INVOICE_S3_SECRET_ACCESS_KEY=...
FEATURE_INVOICE_ENABLE=true
FEATURE_TINKOFF_SBP_ENABLE=true